# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/axismaps.webflow/css/axismaps.webflow.css
/axismaps.webflow/css/normalize.css
/axismaps.webflow/css/webflow.css
/axismaps.webflow/images/88x31.png
/axismaps.webflow/images/404.png
/axismaps.webflow/images/404-p-500.png
/axismaps.webflow/images/404-p-800.png
/axismaps.webflow/images/404-p-1080.png
/axismaps.webflow/images/404-p-1600.png
/axismaps.webflow/images/404-p-2000.png
/axismaps.webflow/images/arrow-to-top.svg
/axismaps.webflow/images/axis-logo-2-center2x.png
/axismaps.webflow/images/blog.svg
/axismaps.webflow/images/chart-network.svg
/axismaps.webflow/images/chevron-down.svg
/axismaps.webflow/images/contours_0.svg
/axismaps.webflow/images/contours_750.svg
/axismaps.webflow/images/contours_1500.svg
/axismaps.webflow/images/contours_2250.svg
/axismaps.webflow/images/contours_curve.svg
/axismaps.webflow/images/contours_curve_footer.svg
/axismaps.webflow/images/database.svg
/axismaps.webflow/images/favicon.png
/axismaps.webflow/images/guide.jpg
/axismaps.webflow/images/guide-p-500.jpeg
/axismaps.webflow/images/guide-p-1080.jpeg
/axismaps.webflow/images/guide-p-1600.jpeg
/axismaps.webflow/images/guide-p-2000.jpeg
/axismaps.webflow/images/guide-p-2600.jpeg
/axismaps.webflow/images/hillshade_final.jpg
/axismaps.webflow/images/hillshade_final-p-500.jpeg
/axismaps.webflow/images/hillshade_final-p-800.jpeg
/axismaps.webflow/images/madison.jpg
/axismaps.webflow/images/madison-p-500.jpeg
/axismaps.webflow/images/madison-p-800.jpeg
/axismaps.webflow/images/madison-p-1080.jpeg
/axismaps.webflow/images/map.svg
/axismaps.webflow/images/newspaper.svg
/axismaps.webflow/images/phone-laptop.svg
/axismaps.webflow/images/services.gif
/axismaps.webflow/images/sliders-h.svg
/axismaps.webflow/images/tools.svg
/axismaps.webflow/images/webclip.png
/axismaps.webflow/js/webflow.js
/axismaps.webflow/404.html
/axismaps.webflow/about.html
/axismaps.webflow/blog.html
/axismaps.webflow/contact.html
/axismaps.webflow/detail_blog.html
/axismaps.webflow/detail_categories.html
/axismaps.webflow/detail_clients.html
/axismaps.webflow/detail_features.html
/axismaps.webflow/detail_guide.html
/axismaps.webflow/detail_press.html
/axismaps.webflow/detail_projects.html
/axismaps.webflow/detail_resources.html
/axismaps.webflow/detail_services.html
/axismaps.webflow/detail_team.html
/axismaps.webflow/detail_testimonials.html
/axismaps.webflow/guide.html
/axismaps.webflow/index.html
/axismaps.webflow/more-projects.html
/axismaps.webflow/projects.html
/axismaps.webflow/style-guide.html
